
body{
    min-height: 200px;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    border:2px solid #3F51B5;
    border-style: inset;
    background-color: #E0F7FA;
}
body img{
    margin-top: -30px;
}

.header{
    text-align: center;
}
.input-group{
    text-align: center;
}
.form-control{
    width: 98%;
    padding: 5px;
    min-height: 50px;
    font-size: 20px;
}
.data-row{
    display: grid;
    grid-template-columns: auto auto;
}
.data-row > div{
    padding: 10px ;
    padding-left: 20%;
}
.flex{
    display: flex;
}
.btn{
    width: 150px;
    height: 30px;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 4px;
    padding: 0px 10px;
    margin-bottom: 10px;
    text-align: center;
}

.error-msg{
    margin-left: 30% ;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.contents{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
}
.btn-wrapper{
    margin: auto;
    text-align: center;
}
.btn-wrapper :nth-child(1){
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.btn-wrapper :nth-child(2){
background: #bdc3c7;
background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
background: linear-gradient(to left, #2c3e50, #bdc3c7);

}
.btn:hover{
    background:#34495e;
    transition:all 1s ease;
    color: whitesmoke;
}

.readability{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
h2{
    font-family: 'Red Rose', cursive;
}